In [44]:
import torch
import torch.nn as nn
import torch.optim as optim
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np
import tensorflow

WARNING:tensorflow:From C:\ProgramData\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
# Load the dataset
df_train = pd.read_csv(r'C:\Users\sayanezio\Desktop\Jaro Kaggle\Regression with ANN\train.csv')

In [3]:
df_train.head()

,Unnamed: 0,PM2.5,SO2,NO2,CO,O3,Temp,Press,DewP,Rain,WinDir,WinSpeed,Station
0,0,8.0,2.0,10.0,200.0,81.00,31.4,1007.7,6.4,0.0,1,3.1,4
1,1,41.0,16.0,64.0,600.0,27.63,3.4,1016.9,-12.2,0.0,3,3.2,10
2,2,42.0,3.0,48.0,800.0,12.00,10.3,1020.7,8.2,0.0,12,0.7,4
3,3,62.0,30.0,80.0,1400.0,16.00,-0.2,1023.8,-20.5,0.0,7,1.7,4
4,4,15.0,9.0,20.0,400.0,120.00,29.4,997.8,15.9,0.0,6,1.2,2

In [4]:
df_train = df_train.drop(['Unnamed: 0'], axis = 1)
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
enc.fit_transform(df_train[['WinDir']]).toarray()
feature_labels1 = enc.categories_
feature_labels1 = np.array(feature_labels1).ravel()

In [5]:
feature_arry = enc.fit_transform(df_train[['WinDir']]).toarray()
feature1 = pd.DataFrame(feature_arry, columns = feature_labels1)

In [6]:
df_train = pd.concat([df_train,feature1] , axis = 1)

In [7]:
df_train

,PM2.5,SO2,NO2,CO,O3,Temp,Press,DewP,Rain,WinDir,...,6,7,8,9,10,11,12,13,14,15
0,8.0,2.0,10.0,200.0,81.00,31.4,1007.7,6.4,0.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,41.0,16.0,64.0,600.0,27.63,3.4,1016.9,-12.2,0.0,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,42.0,3.0,48.0,800.0,12.00,10.3,1020.7,8.2,0.0,12,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,62.0,30.0,80.0,1400.0,16.00,-0.2,1023.8,-20.5,0.0,7,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,15.0,9.0,20.0,400.0,120.00,29.4,997.8,15.9,0.0,6,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294532,339.0,2.0,94.0,4500.0,3.00,-1.4,1023.6,-3.3,0.0,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
294533,65.0,16.0,24.0,800.0,213.00,33.5,999.4,10.8,0.0,12,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
294534,179.0,17.0,106.0,2700.0,2.00,13.0,1016.0,10.7,0.0,9,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
294535,161.0,42.0,103.0,1700.0,69.00,23.2,1011.9,7.7,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
294536,38.0,9.0,64.0,800.0,11.00,-4.4,1023.2,-14.6,0.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
feature_arry2 = enc.fit_transform(df_train[['Station']]).toarray()

In [9]:
enc.categories_
feature_labels2 = enc.categories_
feature_labels2 = np.array(feature_labels2).ravel()

In [10]:
feature2 = pd.DataFrame(feature_arry2, columns = feature_labels2)

In [11]:
df_train = pd.concat([df_train,feature2] , axis = 1)

In [12]:
df_train = df_train.drop(['WinDir', 'Station'], axis = 1)

In [13]:
df_train

,PM2.5,SO2,NO2,CO,O3,Temp,Press,DewP,Rain,WinSpeed,...,2,3,4,5,6,7,8,9,10,11
0,8.0,2.0,10.0,200.0,81.00,31.4,1007.7,6.4,0.0,3.1,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,41.0,16.0,64.0,600.0,27.63,3.4,1016.9,-12.2,0.0,3.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,42.0,3.0,48.0,800.0,12.00,10.3,1020.7,8.2,0.0,0.7,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,62.0,30.0,80.0,1400.0,16.00,-0.2,1023.8,-20.5,0.0,1.7,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,15.0,9.0,20.0,400.0,120.00,29.4,997.8,15.9,0.0,1.2,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294532,339.0,2.0,94.0,4500.0,3.00,-1.4,1023.6,-3.3,0.0,0.6,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
294533,65.0,16.0,24.0,800.0,213.00,33.5,999.4,10.8,0.0,3.4,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
294534,179.0,17.0,106.0,2700.0,2.00,13.0,1016.0,10.7,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
294535,161.0,42.0,103.0,1700.0,69.00,23.2,1011.9,7.7,0.0,1.5,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
294536,38.0,9.0,64.0,800.0,11.00,-4.4,1023.2,-14.6,0.0,0.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
# Splitting features and target variable
X = df_train.drop(columns=['PM2.5'])
y = df_train['PM2.5']

In [25]:
y

0           8.0
1          41.0
2          42.0
3          62.0
4          15.0
          ...
294532    339.0
294533     65.0
294534    179.0
294535    161.0
294536     38.0
Name: PM2.5, Length: 294537, dtype: float64

In [26]:
# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [27]:
# Normalizing the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [28]:
# Convert data to PyTorch tensors
X_train_tensor = torch.tensor(X_train_scaled, dtype=torch.float32)
X_test_tensor = torch.tensor(X_test_scaled, dtype=torch.float32)
y_train_tensor = torch.tensor(y_train.values, dtype=torch.float32).reshape(-1, 1)
y_test_tensor = torch.tensor(y_test.values, dtype=torch.float32).reshape(-1, 1)

In [29]:
# Define the neural network architecture
class ANN(nn.Module):
    def __init__(self, input_size):
        super(ANN, self).__init__()
        self.fc1 = nn.Linear(input_size, 64)
        self.fc2 = nn.Linear(64, 32)
        self.fc3 = nn.Linear(32, 1)
        self.relu = nn.ReLU()

    def forward(self, x):
        x = self.relu(self.fc1(x))
        x = self.relu(self.fc2(x))
        x = self.fc3(x)
        return x

In [30]:
# Instantiate the model
input_size = X_train.shape[1]
model = ANN(input_size)

In [31]:
# Define loss function and optimizer
criterion = nn.MSELoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)

In [32]:
# Training the model
epochs = 1000
for epoch in range(epochs):
    optimizer.zero_grad()
    outputs = model(X_train_tensor)
    loss = criterion(outputs, y_train_tensor)
    loss.backward()
    optimizer.step()
    if (epoch+1) % 100 == 0:
        print(f'Epoch [{epoch+1}/{epochs}], Loss: {loss.item():.4f}')

Epoch [100/1000], Loss: 8743.5615
Epoch [200/1000], Loss: 2896.9573
Epoch [300/1000], Loss: 2353.4397
Epoch [400/1000], Loss: 2125.1807
Epoch [500/1000], Loss: 2008.5875
Epoch [600/1000], Loss: 1930.8502
Epoch [700/1000], Loss: 1853.3027
Epoch [800/1000], Loss: 1780.9755
Epoch [900/1000], Loss: 1725.3864
Epoch [1000/1000], Loss: 1678.5753

In [58]:
from sklearn import metrics

In [59]:
y_pred = model(X_test_tensor)

In [60]:
y_pred.detach().numpy()

array([[48.608635 ],
       [85.10539  ],
       [ 6.3041472],
       ...,
       [70.82179  ],
       [53.724014 ],
       [10.034742 ]], dtype=float32)

In [61]:
y_test_tensor.detach().numpy()

array([[27.],
       [32.],
       [ 5.],
       ...,
       [55.],
       [ 3.],
       [21.]], dtype=float32)

In [62]:
score = metrics.mean_squared_error(y_pred.detach().numpy(),y_test_tensor.detach().numpy())
print(format(score))

1670.3543701171875

In [65]:
df_test = pd.read_csv(r'C:\Users\Sayan Karmakar\Desktop\Jaro Kaggle\Regression with ANN\test.csv')

In [66]:
df_test

,Unnamed: 0,SO2,NO2,CO,O3,Temp,Press,DewP,Rain,WinDir,WinSpeed,Station
0,0,31.0,63.0,1600.00,200.00,30.9,999.4,14.1,0.0,8,1.9,3
1,1,12.0,64.0,2600.00,2.00,7.2,1024.2,4.7,0.0,10,1.1,11
2,2,3.0,32.0,2000.00,11.00,15.8,1012.2,14.7,0.0,2,1.0,2
3,3,2.0,44.0,400.00,120.00,28.2,996.7,14.4,0.0,11,1.7,8
4,4,13.0,63.0,700.00,16.00,11.9,1007.3,3.4,0.0,3,0.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...
126226,126226,46.0,104.0,1800.00,1.00,-4.9,1028.9,-9.2,0.0,13,1.0,4
126227,126227,49.0,84.0,2167.46,21.39,-2.1,1015.3,-5.8,0.0,4,0.1,4
126228,126228,9.0,105.0,600.00,10.00,13.8,1008.8,0.1,0.0,12,1.2,10
126229,126229,2.0,11.0,300.00,36.00,18.7,991.8,15.2,0.0,4,0.6,1
126230,126230,7.0,32.0,800.00,54.00,19.3,1006.3,15.0,0.0,0,1.1,7

In [67]:
df_test = df_test.drop(['Unnamed: 0'], axis = 1)
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
enc.fit_transform(df_test[['WinDir']]).toarray()
feature_labels3 = enc.categories_
feature_labels3 = np.array(feature_labels1).ravel()

In [68]:
feature_arry_test1 = enc.fit_transform(df_test[['WinDir']]).toarray()
feature3 = pd.DataFrame(feature_arry_test1, columns = feature_labels3)

In [69]:
feature3

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126226,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
126227,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
126228,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
126229,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
126230,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [70]:
df_test = pd.concat([df_test,feature3] , axis = 1)

In [71]:
df_test

,SO2,NO2,CO,O3,Temp,Press,DewP,Rain,WinDir,WinSpeed,...,6,7,8,9,10,11,12,13,14,15
0,31.0,63.0,1600.00,200.00,30.9,999.4,14.1,0.0,8,1.9,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,12.0,64.0,2600.00,2.00,7.2,1024.2,4.7,0.0,10,1.1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,3.0,32.0,2000.00,11.00,15.8,1012.2,14.7,0.0,2,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.0,44.0,400.00,120.00,28.2,996.7,14.4,0.0,11,1.7,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,13.0,63.0,700.00,16.00,11.9,1007.3,3.4,0.0,3,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126226,46.0,104.0,1800.00,1.00,-4.9,1028.9,-9.2,0.0,13,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
126227,49.0,84.0,2167.46,21.39,-2.1,1015.3,-5.8,0.0,4,0.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
126228,9.0,105.0,600.00,10.00,13.8,1008.8,0.1,0.0,12,1.2,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
126229,2.0,11.0,300.00,36.00,18.7,991.8,15.2,0.0,4,0.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
126230,7.0,32.0,800.00,54.00,19.3,1006.3,15.0,0.0,0,1.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [72]:
feature_arry_test2 = enc.fit_transform(df_test[['Station']]).toarray()

In [73]:
enc.categories_
feature_labels4 = enc.categories_
feature_labels4 = np.array(feature_labels4).ravel()

In [74]:
feature4 = pd.DataFrame(feature_arry_test2, columns = feature_labels4)

In [75]:
df_test = pd.concat([df_test,feature4] , axis = 1)

In [76]:
df_test = df_test.drop(['WinDir', 'Station'], axis = 1)

In [77]:
df_test

,SO2,NO2,CO,O3,Temp,Press,DewP,Rain,WinSpeed,0,...,2,3,4,5,6,7,8,9,10,11
0,31.0,63.0,1600.00,200.00,30.9,999.4,14.1,0.0,1.9,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,12.0,64.0,2600.00,2.00,7.2,1024.2,4.7,0.0,1.1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,3.0,32.0,2000.00,11.00,15.8,1012.2,14.7,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.0,44.0,400.00,120.00,28.2,996.7,14.4,0.0,1.7,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,13.0,63.0,700.00,16.00,11.9,1007.3,3.4,0.0,0.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126226,46.0,104.0,1800.00,1.00,-4.9,1028.9,-9.2,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
126227,49.0,84.0,2167.46,21.39,-2.1,1015.3,-5.8,0.0,0.1,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
126228,9.0,105.0,600.00,10.00,13.8,1008.8,0.1,0.0,1.2,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
126229,2.0,11.0,300.00,36.00,18.7,991.8,15.2,0.0,0.6,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
126230,7.0,32.0,800.00,54.00,19.3,1006.3,15.0,0.0,1.1,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [78]:
df_train.shape

(294537, 38)

In [79]:
df_train.columns

Index([   'PM2.5',      'SO2',      'NO2',       'CO',       'O3',     'Temp',
          'Press',     'DewP',     'Rain', 'WinSpeed',          0,          1,
                2,          3,          4,          5,          6,          7,
                8,          9,         10,         11,         12,         13,
               14,         15,          0,          1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11],
      dtype='object')

In [80]:
df_test.columns

Index([     'SO2',      'NO2',       'CO',       'O3',     'Temp',    'Press',
           'DewP',     'Rain', 'WinSpeed',          0,          1,          2,
                3,          4,          5,          6,          7,          8,
                9,         10,         11,         12,         13,         14,
               15,          0,          1,          2,          3,          4,
                5,          6,          7,          8,          9,         10,
               11],
      dtype='object')

In [81]:
Xt_scaled = scaler.fit_transform(df_test)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [82]:
Xt_test_tensor = torch.tensor(Xt_scaled, dtype=torch.float32)

In [83]:
yt_pred = model(Xt_test_tensor)

In [84]:
yt_pred.detach().numpy()

array([[149.71178 ],
       [146.26328 ],
       [141.45407 ],
       ...,
       [ 39.080097],
       [ 24.371878],
       [ 48.07367 ]], dtype=float32)

In [73]:
yt_pred.shape

torch.Size([126231, 1])

In [86]:
sub = list(range(0,126231,1))

In [87]:
newdf = pd.DataFrame(list(zip(sub,yt_pred.detach().numpy())), columns = ['ID', 'PM2.5'])

In [89]:
newdf['PM2.5'] = newdf['PM2.5'].str[0]

In [90]:
newdf

            ID       PM2.5
0            0  149.711777
1            1  146.263275
2            2  141.454071
3            3   37.937408
4            4   42.481812
...        ...         ...
126226  126226  131.299744
126227  126227  141.463303
126228  126228   39.080097
126229  126229   24.371878
126230  126230   48.073669

[126231 rows x 2 columns]

In [91]:
newdf.shape

(126231, 2)

In [93]:
newdf.to_csv(r'C:\Users\Sayan Karmakar\Desktop\Jaro Kaggle\Regression with ANN\sub.csv', index = False)